SERVER_PORT="8000"
SERVER_HOST="localhost"

DB_URL="postgresql://<YOUR_USERNAME>:<YOUR_PASSWORD>@localhost/soloconference_db"

CORS_ALLOWED_ORIGINS="http://localhost:5173"

CONFERENCE_TOKEN_SECRET="<YOUR_CONFERENCE_TOKEN_SECRET>"
ACCESS_TOKEN_SECRET="<YOUR_ACCESS_TOKEN_SECRET>"
REFRESH_TOKEN_SECRET="<YOUR_REFRESH_TOKEN_SECRET>"

IS_DEVELOPMENT=1